@tailwind base;
@tailwind components;
@tailwind utilities;

/* Marquee container */
.marquee-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* Marquee text animation */
.marquee-text {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 15s linear infinite;
}

/* Keyframes for scrolling */
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
